package entity

const(
    ${entity} = "${table.name}"
)

type ${entity}Tab struct{
#foreach($field in ${table.fields})
    ${field.name.toUpperCase()}     undefined `gorm:"column:"${field.annotationColumnName}" json:"${field.annotationColumnName}"`
#end
}

func (tab *${entity}Tab) TableName() string{
    return ${entity}TableName
}
